.text-purple {
  color: $base-color;
}

.text-purple:hover {
  color: $base-color;
}

.text-purple:focus {
  color: $base-color;
}

.btn-purple {
  color: #fafafa;
  background-color: $base-color;
}

.btn-purple:hover {
  color: #fafafa;
}
